<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle text-center
        >Enter your credentials to login</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input
              [(ngModel)]="user.username"
              autocapitalize="off"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>

          <div text-center>
            <ion-button color="primary" margin-top (click)="login()">Login</ion-button>
          </div>

          <div text-center margin-top>
            <p>Don't have an account? <a routerLink="/signup">Signup</a></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
