<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <h5 text-center>Enter yout credentials to login</h5>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="user.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>

      <p text-center>
        <ion-button color="primary" (click)="login()">Login</ion-button>
      </p>

      <div text-center>
        <p>Don't have an account? <a href="/signup">Signup</a></p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
