<ion-content fullscreen>
  <ion-fab vertical="center" horizontal="center">
    <ion-spinner *ngIf="photoService.loading" text-center></ion-spinner>
  </ion-fab>

  <ion-grid *ngIf="!photoService.loading">
    <ion-row>
      <ion-col size="12" *ngFor="let photo of photoService.photos">
        <ion-card>
          <img [src]="photo.data" alt="" />
          <ion-card-header>
            <ion-card-subtitle
              ><ion-label color="primary"
                ><ion-icon name="star"></ion-icon> 3.6</ion-label
              >
              | <ion-label text-right>20 votes</ion-label> | <ion-icon name="trash" color="danger"></ion-icon></ion-card-subtitle
            >
            <ion-card-title>Image Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border transparent>
  <ion-toolbar transparent>
    <ion-row>
      <ion-col size="6">
        <ion-fab-button (click)="photoService.takePicture()" float-right>
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="6">
        <ion-fab-button (click)="photoService.selectPictures()">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
